<div id="search-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="tabs">
      <button class="tab-btn active" data-tab="articles">文章</button>
      <button class="tab-btn" data-tab="products">产品</button>
    </div>
    <div class="tab-content">
      <div id="articles" class="tab-pane active">
        <input type="text" id="search-input" placeholder="搜索文章...">
        <button id="search-button">搜索</button>
        <div id="search-results"></div>
      </div>
      <div id="products" class="tab-pane">
        <input type="text" id="product-search-input" placeholder="搜索产品...">
        <button id="product-search-button">搜索</button>
        <div id="product-search-results"></div>
      </div>
    </div>
  </div>
</div> 